In [183]:
# importing  modules 
import pandas as pd
import numpy as np
import matplotlib as plt

In [171]:
#setting dataframe to max columns and clensing the dataframe
#This dataframe is to get the stats needed

pd.set_option('display.max_columns', None)
df = pd.read_csv('batting.csv',na_values=['#DIV/0!'])
df = df.replace('NaN', np.nan)
df =df.dropna()

df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,IBB,HBP,SH,SF,GIDP
37463,aaronha01,1955,1,ML1,NL,153,602,105,189.0,37,9,27,106.0,3.0,1.0,49,61.0,0.314,5.0,3.0,7.0,4.0,20.0
37464,aberal01,1955,1,DET,AL,39,17,0,1.0,0,0,0,0.0,0.0,0.0,0,9.0,0.059,0.0,0.0,2.0,0.0,1.0
37465,abernte02,1955,1,WS1,AL,40,26,1,4.0,0,0,0,0.0,0.0,0.0,0,6.0,0.154,0.0,0.0,4.0,0.0,1.0
37466,abramca01,1955,1,BAL,AL,118,309,56,75.0,12,3,6,32.0,2.0,8.0,89,69.0,0.243,2.0,3.0,3.0,3.0,6.0
37467,adamsbo03,1955,1,CIN,NL,64,150,23,41.0,11,2,2,20.0,2.0,0.0,20,21.0,0.273,1.0,3.0,2.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110489,zimmebr02,2021,1,BAL,AL,14,4,0,0.0,0,0,0,0.0,0.0,0.0,0,3.0,0.000,0.0,0.0,0.0,0.0,0.0
110490,zimmejo02,2021,1,MIL,NL,2,1,0,0.0,0,0,0,0.0,0.0,0.0,0,1.0,0.000,0.0,0.0,0.0,0.0,0.0
110492,zimmery01,2021,1,WAS,NL,110,255,27,62.0,16,0,14,46.0,0.0,0.0,16,77.0,0.243,0.0,0.0,0.0,2.0,9.0
110493,zuberty01,2021,1,KCA,AL,31,1,0,0.0,0,0,0,0.0,0.0,0.0,0,1.0,0.000,0.0,0.0,0.0,0.0,0.0
110494,zuninmi01,2021,1,TBA,AL,109,333,64,72.0,11,2,33,62.0,0.0,0.0,34,132.0,0.216,0.0,7.0,0.0,1.0,7.0

In [172]:
#Testing to see if i can pullout specific year.

year_2016 = (df['yearID']) ==2016

df.loc[year_2016, ['playerID','teamID','BA' ]]

         playerID teamID     BA
101348   abadfe01    MIN  0.000
101350  abreujo02    CHA  0.293
101352  ackledu01    NYA  0.148
101353  adamecr01    COL  0.218
101355  adamsma01    SLN  0.249
...           ...    ...    ...
102823  zastrro01    CHN  0.000
102826  zimmejo02    DET  0.250
102827  zimmery01    WAS  0.218
102828  zobribe01    CHN  0.272
102829  zuninmi01    SEA  0.207

[1023 rows x 3 columns]

In [173]:

year_2021 = (df['yearID']) ==2021

df.loc[year_2021, ['playerID','teamID', 'BA']]

         playerID teamID     BA
108790  abbotco01    CHN  0.333
108793  abreujo02    CHA  0.261
108795  acunaro01    ATL  0.283
108796  adamewi01    TBA  0.197
108797  adamewi01    MIL  0.285
...           ...    ...    ...
110489  zimmebr02    BAL  0.000
110490  zimmejo02    MIL  0.000
110492  zimmery01    WAS  0.243
110493  zuberty01    KCA  0.000
110494  zuninmi01    TBA  0.216

[1126 rows x 3 columns]

In [174]:
# Reading in another csv file to get needed names to match playerID and cleaning up data.

df_people = pd.read_csv('people.csv' )
df_people = df_people.replace('NaN', np.nan)
df_people =df_people.dropna()


df_people

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,USA,NJ,Pemberton,John,Abadie,John W.,192.0,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170.0,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,USA,VT,Colchester,Bert,Abbey,Bert Wood,175.0,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20356,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,USA,NY,New Hyde Park,Sam,Zoldak,Samuel Walter,185.0,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
20358,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,USA,IA,Cedar Rapids,Bill,Zuber,William Henry,195.0,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
20365,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,USA,CA,Burlingame,Frank,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
20367,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,USA,AZ,Tempe,George,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
20368,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,USA,CA,La Crescenta,Dutch,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01

In [175]:
#Testing to see if I can pull out columns of data to see if its correct compared to csv file.

df_people[['playerID','nameFirst', 'nameLast', 'nameGiven', 'debut'] ][0:25]

     playerID nameFirst     nameLast           nameGiven       debut
1   aaronha01      Hank        Aaron         Henry Louis  1954-04-13
2   aaronto01    Tommie        Aaron          Tommie Lee  1962-04-10
6   abadijo01      John       Abadie             John W.  1875-04-26
7   abbated01        Ed  Abbaticchio        Edward James  1897-09-04
8   abbeybe01      Bert        Abbey           Bert Wood  1892-06-14
9   abbeych01   Charlie        Abbey          Charles S.  1893-08-16
11  abbotda01       Dan       Abbott    Leander Franklin  1890-04-19
12  abbotfr01      Fred       Abbott     Harry Frederick  1903-04-25
18  abbotod01       Ody       Abbott           Ody Cleon  1910-09-10
20   aberal01        Al         Aber       Albert Julius  1950-09-15
23  abernbi01      Bill   Abernathie      William Edward  1952-09-27
25  abernte01       Ted    Abernathy  Talmadge Lafayette  1942-09-19
26  abernte02       Ted    Abernathy       Theodore Wade  1955-04-13
27  abernwo01     Woody    Abernathy      Virgil Woodrow  1946-07-28
28  aberscl01     Cliff      Aberson  Clifford Alexander  1947-07-18
29  ablesha01     Harry        Ables       Harry Terrell  1905-09-02
31  abramca01       Cal       Abrams         Calvin Ross  1949-04-19
32  abramge01    George       Abrams        George Allen  1923-04-19
37  abreujo01       Joe        Abreu     Joseph Lawrence  1942-04-23
42  abstebi01      Bill      Abstein       William Henry  1906-09-25
50  ackerto01       Tom        Acker        Thomas James  1956-04-20
52  acklefr01     Fritz       Ackley   Florian Frederick  1963-09-21
55  acostjo01      Jose       Acosta                Jose  1920-07-28
57  acostme01    Merito       Acosta     Baldomero Pedro  1913-06-05
62  adairje01     Jerry        Adair       Kenneth Jerry  1958-09-02

In [182]:

# Merged both above csv files to see if its correct. Calling the new dataframe people_batting.

pd.set_option('display.max_columns', None)
people_batting = pd.merge(df, df_people, on=['playerID'])


people_batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,IBB,HBP,SH,SF,GIDP,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aaronha01,1955,1,ML1,NL,153,602,105,189.0,37,9,27,106.0,3.0,1.0,49,61.0,0.314,5.0,3.0,7.0,4.0,20.0,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
1,aaronha01,1956,1,ML1,NL,153,609,106,200.0,34,14,26,92.0,2.0,4.0,37,54.0,0.328,6.0,2.0,5.0,7.0,21.0,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronha01,1957,1,ML1,NL,151,615,118,198.0,27,6,44,132.0,1.0,1.0,57,58.0,0.322,15.0,0.0,0.0,3.0,13.0,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
3,aaronha01,1958,1,ML1,NL,153,601,109,196.0,34,4,30,95.0,4.0,1.0,59,49.0,0.326,16.0,1.0,0.0,3.0,21.0,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
4,aaronha01,1959,1,ML1,NL,154,629,116,223.0,46,7,39,123.0,8.0,0.0,51,54.0,0.355,17.0,4.0,0.0,9.0,19.0,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9175,fernajo02,2016,1,MIA,NL,30,52,3,13.0,2,0,0,6.0,0.0,0.0,1,13.0,0.250,0.0,0.0,8.0,0.0,1.0,1992.0,7.0,31.0,Cuba,Villa Clara,Santa Clara,2016.0,9.0,25.0,USA,FL,Miami Beach,Jose,Fernandez,Jose D.,240.0,75.0,R,R,2013-04-07,2016-09-20,fernj003,fernajo02
9176,taveros01,2014,1,SLN,NL,80,234,18,56.0,8,0,3,22.0,0.0,1.0,12,37.0,0.239,0.0,1.0,0.0,1.0,10.0,1992.0,6.0,19.0,D.R.,Puerto Plata,Puerto Plata,2014.0,10.0,26.0,D.R.,Puerto Plata,Puerto Plata,Oscar,Taveras,Oscar Francisco,200.0,74.0,L,L,2014-05-31,2014-09-28,taveo001,taveros01
9177,ventuyo01,2014,1,KCA,AL,31,4,1,1.0,0,0,0,0.0,0.0,0.0,0,3.0,0.250,0.0,0.0,1.0,0.0,0.0,1991.0,6.0,3.0,D.R.,Samana,Samana,2017.0,1.0,22.0,D.R.,Monsenor Nouel,Juan Adrian,Yordano,Ventura,Yordano,195.0,72.0,R,R,2013-09-17,2016-09-30,venty001,ventuyo01
9178,ventuyo01,2015,1,KCA,AL,28,6,0,0.0,0,0,0,0.0,0.0,0.0,0,5.0,0.000,0.0,0.0,0.0,0.0,0.0,1991.0,6.0,3.0,D.R.,Samana,Samana,2017.0,1.0,22.0,D.R.,Monsenor Nouel,Juan Adrian,Yordano,Ventura,Yordano,195.0,72.0,R,R,2013-09-17,2016-09-30,venty001,ventuyo01
9179,ventuyo01,2016,1,KCA,AL,32,3,0,1.0,0,0,0,0.0,0.0,0.0,0,2.0,0.333,0.0,0.0,0.0,0.0,0.0,1991.0,6.0,3.0,D.R.,Samana,Samana,2017.0,1.0,22.0,D.R.,Monsenor Nouel,Juan Adrian,Yordano,Ventura,Yordano,195.0,72.0,R,R,2013-09-17,2016-09-30,venty001,ventuyo01

In [178]:
#This is not correct.  It should be over 1000 entries.  Figure out how to fix or why this is doing this.  It worked in the above cell before merging
#dataframe.....How do I call the data for the 2016 and 2021 year rows?

year_2016 = (people_batting['yearID']) ==2016

people_batting.loc[year_2016, ['playerID','teamID', 'BA']]

       playerID teamID     BA
9160  valbulu01    HOU  0.260
9175  fernajo02    MIA  0.250
9179  ventuyo01    KCA  0.333