In [1]:
# importing  mondules 
import pandas as pd
import numpy as np

In [8]:
#setting dataframe to max columns and clensing the dataframe

pd.set_option('display.max_columns', None)
df = pd.read_csv('batting.csv')
df = df.replace('NaN', np.nan)
df =df.dropna()

df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
12629,aitchra01,1911,1,BRO,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12700,camniha01,1911,1,SLN,NL,2,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12738,cottren01,1911,1,PIT,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12830,griffha01,1911,1,CHN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13045,pucketr01,1911,1,PHI,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
year_2016 = (df['yearID']) ==2016

df.loc[year_2016, ['playerID','teamID','HR' ]]

         playerID teamID  HR
101348   abadfe01    MIN   0
101349   abadfe01    BOS   0
101350  abreujo02    CHA  25
101351  achteaj01    LAA   0
101352  ackledu01    NYA   0
...           ...    ...  ..
102826  zimmejo02    DET   0
102827  zimmery01    WAS  15
102828  zobribe01    CHN  18
102829  zuninmi01    SEA  12
102830   zychto01    SEA   0

[1483 rows x 3 columns]

In [4]:

year_2021 = (df['yearID']) ==2021

df.loc[year_2021, ['playerID','teamID','HR' ]]

         playerID teamID  HR
108789   abadfe01    BAL   0
108790  abbotco01    CHN   0
108791  abreual01    NYA   0
108792  abreubr01    HOU   0
108793  abreujo02    CHA  30
...           ...    ...  ..
110490  zimmejo02    MIL   0
110491  zimmeky01    KCA   0
110492  zimmery01    WAS  14
110493  zuberty01    KCA   0
110494  zuninmi01    TBA  33

[1706 rows x 3 columns]

In [10]:
df_people = pd.read_csv('people.csv')
df_people = df_people.replace('NaN', np.nan)
df_people =df_people.dropna()


df_people[0:10]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,USA,NJ,Pemberton,John,Abadie,John W.,192.0,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170.0,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,USA,VT,Colchester,Bert,Abbey,Bert Wood,175.0,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,USA,CA,San Francisco,Charlie,Abbey,Charles S.,169.0,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
11,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,USA,MI,Ottawa Lake,Dan,Abbott,Leander Franklin,190.0,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
12,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,USA,CA,Los Angeles,Fred,Abbott,Harry Frederick,180.0,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
18,abbotod01,1886.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,USA,DC,Washington,Ody,Abbott,Ody Cleon,165.0,69.0,L,R,1910-09-10,1910-10-15,abboo101,abbotod01
20,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,USA,OH,Garfield Heights,Al,Aber,Albert Julius,195.0,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01

In [32]:
df_people[['playerID', 'nameLast', 'nameGiven', 'debut'] ][0:25]

     playerID     nameLast           nameGiven       debut
1   aaronha01        Aaron         Henry Louis  1954-04-13
2   aaronto01        Aaron          Tommie Lee  1962-04-10
6   abadijo01       Abadie             John W.  1875-04-26
7   abbated01  Abbaticchio        Edward James  1897-09-04
8   abbeybe01        Abbey           Bert Wood  1892-06-14
9   abbeych01        Abbey          Charles S.  1893-08-16
11  abbotda01       Abbott    Leander Franklin  1890-04-19
12  abbotfr01       Abbott     Harry Frederick  1903-04-25
18  abbotod01       Abbott           Ody Cleon  1910-09-10
20   aberal01         Aber       Albert Julius  1950-09-15
23  abernbi01   Abernathie      William Edward  1952-09-27
25  abernte01    Abernathy  Talmadge Lafayette  1942-09-19
26  abernte02    Abernathy       Theodore Wade  1955-04-13
27  abernwo01    Abernathy      Virgil Woodrow  1946-07-28
28  aberscl01      Aberson  Clifford Alexander  1947-07-18
29  ablesha01        Ables       Harry Terrell  1905-09-02
31  abramca01       Abrams         Calvin Ross  1949-04-19
32  abramge01       Abrams        George Allen  1923-04-19
37  abreujo01        Abreu     Joseph Lawrence  1942-04-23
42  abstebi01      Abstein       William Henry  1906-09-25
50  ackerto01        Acker        Thomas James  1956-04-20
52  acklefr01       Ackley   Florian Frederick  1963-09-21
55  acostjo01       Acosta                Jose  1920-07-28
57  acostme01       Acosta     Baldomero Pedro  1913-06-05
62  adairje01        Adair       Kenneth Jerry  1958-09-02

In [33]:
df.columns

#people_batting= pd.merge()

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [34]:
df_people.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [42]:



people_batting = pd.merge(df, df_people, on=['playerID'], how='outer')
people_batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aitchra01,1911.0,1.0,BRO,NL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1887.0,12.0,5.0,USA,SD,Tyndall,1958.0,9.0,26.0,USA,KS,Columbus,Raleigh,Aitchison,Raleigh Leonidas,175.0,71.0,R,L,1911-04-19,1915-06-20,aitcr101,aitchra01
1,camniha01,1911.0,1.0,SLN,NL,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1884.0,10.0,26.0,USA,KY,McKinney,1951.0,1.0,6.0,USA,KY,Louisville,Harry,Camnitz,Henry Richardson,168.0,73.0,R,R,1909-09-29,1911-10-03,camnh102,camniha01
2,cottren01,1911.0,1.0,PIT,NL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1888.0,8.0,29.0,USA,NY,Hoosick Falls,1947.0,2.0,27.0,USA,NY,Syracuse,Ensign,Cottrell,Ensign Stover,173.0,69.0,L,L,1911-06-21,1915-07-09,cotte101,cottren01
3,cottren01,1914.0,1.0,BSN,NL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1888.0,8.0,29.0,USA,NY,Hoosick Falls,1947.0,2.0,27.0,USA,NY,Syracuse,Ensign,Cottrell,Ensign Stover,173.0,69.0,L,L,1911-06-21,1915-07-09,cotte101,cottren01
4,griffha01,1911.0,1.0,CHN,NL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1886.0,7.0,11.0,USA,TX,Whitehouse,1950.0,2.0,11.0,USA,TX,Terrell,Hank,Griffin,James Linton,165.0,72.0,R,R,1911-05-05,1912-05-20,grifh101,griffha01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79889,zitzmbi01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,USA,NJ,Passaic,Billy,Zitzmann,William Arthur,175.0,70.0,R,R,1919-04-27,1929-09-25,zitzb101,zitzmbi01
79890,zmiched01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,USA,OH,Cleveland,Ed,Zmich,Edward Albert,180.0,72.0,L,L,1910-07-23,1911-06-01,zmice101,zmiched01
79891,zoldasa01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,USA,NY,New Hyde Park,Sam,Zoldak,Samuel Walter,185.0,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
79892,zuberbi01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,USA,IA,Cedar Rapids,Bill,Zuber,William Henry,195.0,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
79893,zwilldu01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,USA,CA,La Crescenta,Dutch,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01