In [109]:
# importing  mondules 
import pandas as pd

In [143]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('batting.csv')

df.head()
df[0:15
   ]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,1,0,5.0,0.0,1.0,0,1.0,NaN,NaN,NaN,NaN,0.0
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,0,0,2.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,9,0,34.0,11.0,6.0,13,1.0,NaN,NaN,NaN,NaN,1.0
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,0,0,1.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,1,0,11.0,1.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,10,3,18.0,0.0,1.0,3,4.0,NaN,NaN,NaN,NaN,0.0
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,0,0,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,0,0,1.0,2.0,0.0,2,0.0,NaN,NaN,NaN,NaN,2.0
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,0,0,5.0,2.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,1,1,21.0,4.0,0.0,2,2.0,NaN,NaN,NaN,NaN,1.0

In [136]:

playerID= df['playerID'][0:10]
playerID
HR = df['HR'][0:10]
HR

print([playerID [0:10], HR[0:10]])

[0    abercda01
1     addybo01
2    allisar01
3    allisdo01
4    ansonca01
5    armstbo01
6    barkeal01
7    barnero01
8    barrebi01
9    barrofr01
Name: playerID, dtype: object, 0    0
1    0
2    0
3    2
4    0
5    0
6    0
7    0
8    0
9    0
Name: HR, dtype: int64]

In [46]:
df_people = pd.read_csv('people.csv')


df_people[0:10]['nameGiven'] + ' '+ df_people[0:10]['debut' ]

0         David Allan 2004-04-06
1         Henry Louis 1954-04-13
2          Tommie Lee 1962-04-10
3      Donald William 1977-07-26
4       Fausto Andres 2001-09-10
5    Fernando Antonio 2010-07-28
6             John W. 1875-04-26
7        Edward James 1897-09-04
8           Bert Wood 1892-06-14
9          Charles S. 1893-08-16
dtype: object