In [410]:
# importing  modules 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [422]:
#setting dataframe to max columns and clensing the dataframe
#This dataframe is to get the stats needed

pd.set_option('display.max_columns', 500)
df = pd.read_csv('batting1990-95.csv',na_values=['#DIV/0!'])
df = df.replace('NaN', np.nan)
df =df.dropna()

df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,IBB,HBP,SH,SF,GIDP
3,abnersh01,1990,1,SDN,NL,91,184,17,45,9,0,1,15,2,3,9,28,0.245,1,2,2,1,3
6,afenitr01,1990,1,OAK,AL,14,14,0,2,0,0,0,2,0,0,0,6,0.143,0,0,0,1,0
7,agostju01,1990,1,HOU,NL,82,2,0,0,0,0,0,0,0,0,0,0,0.000,0,0,0,0,0
9,akerfda01,1990,1,PHI,NL,71,6,0,1,0,0,0,0,0,0,0,3,0.167,0,0,0,0,0
10,aldremi01,1990,1,MON,NL,96,161,22,39,7,1,1,18,1,2,37,31,0.242,2,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6725,youngke01,1995,1,PIT,NL,56,181,13,42,9,0,6,22,1,3,8,53,0.232,0,2,1,3,5
6726,zaungr01,1995,1,BAL,AL,40,104,18,27,5,0,3,14,1,1,16,14,0.260,0,0,2,0,2
6727,zeileto01,1995,1,SLN,NL,34,127,16,37,6,0,5,22,1,0,18,23,0.291,1,1,0,2,2
6728,zeileto01,1995,2,CHN,NL,79,299,34,68,16,0,9,30,0,0,16,53,0.227,0,3,4,3,11
6729,zoskyed01,1995,1,FLO,NL,6,5,0,1,0,0,0,0,0,0,0,0,0.200,0,0,0,0,0

In [423]:
#Testing to see if i can pullout specific year.

year_1990 = (df['yearID' ]) ==1990 

df.loc[year_1990, ['playerID','BA' ]]

       playerID     BA
3     abnersh01  0.245
6     afenitr01  0.143
7     agostju01  0.000
9     akerfda01  0.167
10    aldremi01  0.242
...         ...    ...
1106  yeldier01  0.254
1108   yorkmi01  0.333
1111  youngge02  0.175
1113  yountro01  0.247
1114  zeileto01  0.244

[796 rows x 2 columns]

In [413]:
#year_2016 = (df['BA']) !=0.000
#df.loc[year_2016, ['playerID','BA' ]]

In [418]:
# Reading in another csv file to get needed names to match playerID and cleaning up data.
pd.set_option('display.max_columns', 500)
df_people = pd.read_csv('people1990-95.csv' )
df_people = df_people.replace('NaN', np.nan)
df_people =df_people.dropna()


df_people

       playerID   nameLast       nameGiven       debut
0     deshide01  DeShields   Delino Lamont  1990-04-09
1     hiltoho01     Hilton    Howard James  1990-04-09
2     layanti01     Layana  Timothy Joseph  1990-04-09
3     radinsc01   Radinsky     Scott David  1990-04-09
4     rohdeda01      Rohde     David Grant  1990-04-09
...         ...        ...             ...         ...
1082  persoro01     Person     Robert Alan  1995-09-18
1083  thobejj01      Thobe     John Joseph  1995-09-18
1084  benesal01      Benes       Alan Paul  1995-09-19
1085    roajo01        Roa   Joseph Rodger  1995-09-20
1086  bennega01    Bennett      Gary David  1995-09-24

[1087 rows x 4 columns]

In [424]:
#Testing to see if I can pull out columns of data to see if its correct compared to csv file.

df_people[['playerID', 'nameLast','nameGiven', 'debut'] ]

       playerID   nameLast       nameGiven       debut
0     deshide01  DeShields   Delino Lamont  1990-04-09
1     hiltoho01     Hilton    Howard James  1990-04-09
2     layanti01     Layana  Timothy Joseph  1990-04-09
3     radinsc01   Radinsky     Scott David  1990-04-09
4     rohdeda01      Rohde     David Grant  1990-04-09
...         ...        ...             ...         ...
1082  persoro01     Person     Robert Alan  1995-09-18
1083  thobejj01      Thobe     John Joseph  1995-09-18
1084  benesal01      Benes       Alan Paul  1995-09-19
1085    roajo01        Roa   Joseph Rodger  1995-09-20
1086  bennega01    Bennett      Gary David  1995-09-24

[1087 rows x 4 columns]

In [426]:

# Merged both above csv files to see if its correct. Calling the new dataframe comb_df.

pd.set_option('display.max_columns', None)
comb_df = pd.merge( df,df_people, on=['playerID'])
comb_df.dropna()
#comb_df.fillna(0, inplace = True)
#comb_df.duplicated(subset= 'playerID') == True
#comb_df.drop_duplicates(subset = 'playerID' ,inplace= True)
comb_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,IBB,HBP,SH,SF,GIDP,nameLast,nameGiven,debut
0,aloumo01,1990,1,PIT,NL,2,5,0,1,0,0,0,0,0,0,0,0,0.200,0,0,0,0,1,Alou,Moises Rojas,1990-07-26
1,aloumo01,1990,2,MON,NL,14,15,4,3,0,1,0,0,0,0,0,3,0.200,0,0,1,0,0,Alou,Moises Rojas,1990-07-26
2,aloumo01,1992,1,MON,NL,115,341,53,96,28,2,9,56,16,2,25,46,0.282,0,1,5,5,5,Alou,Moises Rojas,1990-07-26
3,aloumo01,1993,1,MON,NL,136,482,70,138,29,6,18,85,17,6,38,53,0.286,9,5,3,7,9,Alou,Moises Rojas,1990-07-26
4,aloumo01,1994,1,MON,NL,107,422,81,143,31,5,22,78,7,6,42,63,0.339,10,2,0,5,7,Alou,Moises Rojas,1990-07-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1961,walldo01,1995,1,HOU,NL,6,5,0,0,0,0,0,0,0,0,0,2,0.000,0,0,3,0,0,Wall,Donnell Lee,1995-09-02
1962,widgech01,1995,1,SEA,AL,23,45,2,9,0,0,1,2,0,0,3,11,0.200,0,0,0,1,0,Widger,Christopher Jon,1995-06-23
1963,willige03,1995,1,OAK,AL,29,79,13,23,5,1,3,14,0,0,11,21,0.291,2,2,0,2,1,Williams,George Erik,1995-07-14
1964,willito02,1995,1,LAN,NL,16,2,0,1,0,0,0,0,0,0,0,0,0.500,0,0,0,0,0,Williams,Todd Michael,1995-04-29
1965,zaungr01,1995,1,BAL,AL,40,104,18,27,5,0,3,14,1,1,16,14,0.260,0,0,2,0,2,Zaun,Gregory Owen,1995-06-24

In [427]:

year_1990 = (comb_df['yearID']) ==1990
comb_df.loc[year_1990, ['playerID','nameGiven','teamID', 'BA']]

      playerID       nameGiven teamID     BA
0     aloumo01    Moises Rojas    PIT  0.200
1     aloumo01    Moises Rojas    MON  0.200
6    averyst01   Steven Thomas    ATL  0.133
12   azocaos01  Oscar Gregorio    NYA  0.248
15   baergca01     Carlos Obed    CLE  0.260
..         ...             ...    ...    ...
459  villahe01          Hector    CHN  0.272
463   wardtu01      Turner Max    CLE  0.348
470  wellste01           Terry    LAN  0.000
471  whitema01    Mark Anthony    TOR  0.273
479   yorkmi01   Michael David    PIT  0.333

[115 rows x 4 columns]