In [173]:
# importing  mondules 
import pandas as pd
import numpy as np

In [180]:
from numpy import NaN
from requests import head


pd.set_option('display.max_columns', None)
df = pd.read_csv('batting.csv')
df = df.replace('NaN', np.nan)
df =df.dropna()
df.head()
df[0:20]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
12629,aitchra01,1911,1,BRO,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12700,camniha01,1911,1,SLN,NL,2,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12738,cottren01,1911,1,PIT,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
12830,griffha01,1911,1,CHN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13045,pucketr01,1911,1,PHI,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13097,smithsh01,1911,1,PIT,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13133,thompfu01,1911,1,BSN,NL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13248,bradybi01,1912,1,BSN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13337,dellwh01,1912,1,SLN,NL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13344,doakbi01,1912,1,CIN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13379,ewingbo01,1912,1,SLN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13400,gardnha01,1912,1,PIT,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13419,griffha01,1912,1,BSN,NL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13457,howelro01,1912,1,SLN,NL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13550,marshru01,1912,1,PHI,NL,2,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13625,nichofr01,1912,1,PHI,NL,2,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13659,powelbi01,1912,1,CHN,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13704,shoreer01,1912,1,NY1,NL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13716,smithsh01,1912,1,PIT,NL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
13818,zackege01,1912,1,SLN,NL,2,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [171]:

playerID= df['playerID'][0:10]
playerID
yearID = df['yearID'][0:10]
yearID
HR = df['HR'][0:10]
HR

print([playerID][0:10], HR[0:10])

[0    abercda01
1     addybo01
2    allisar01
3    allisdo01
4    ansonca01
5    armstbo01
6    barkeal01
7    barnero01
8    barrebi01
9    barrofr01
Name: playerID, dtype: object] 0    0
1    0
2    0
3    2
4    0
5    0
6    0
7    0
8    0
9    0
Name: HR, dtype: int64

In [181]:
df_people = pd.read_csv('people.csv')
df_people = df_people.replace('NaN', np.nan)
df_people =df_people.dropna()

df_people[0:10]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,USA,GA,Atlanta,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,USA,NJ,Pemberton,John,Abadie,John W.,192.0,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170.0,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,USA,VT,Colchester,Bert,Abbey,Bert Wood,175.0,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,USA,CA,San Francisco,Charlie,Abbey,Charles S.,169.0,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
11,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,USA,MI,Ottawa Lake,Dan,Abbott,Leander Franklin,190.0,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
12,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,USA,CA,Los Angeles,Fred,Abbott,Harry Frederick,180.0,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
18,abbotod01,1886.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,USA,DC,Washington,Ody,Abbott,Ody Cleon,165.0,69.0,L,R,1910-09-10,1910-10-15,abboo101,abbotod01
20,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,USA,OH,Garfield Heights,Al,Aber,Albert Julius,195.0,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01